<!--
  Generated template for the MapsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Google maps</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	


	<sebm-google-map style="width: 100%; height: 100%;"
			[latitude]="origin.lat"
			[longitude]="origin.lng"
			[zoom]="zoom">
		<sebm-google-map-marker
				*ngFor="let m of markers"
				(markerClick)="clickedMarker(m.label)"
				[latitude]="m.lat"
				[longitude]="m.lng"
				[label]="m.label">
		</sebm-google-map-marker>
	</sebm-google-map>
 
</ion-content>


<!--<ion-content>
  <div id="floating-panel">
    <b>Start: </b>
    <select [(ngModel)]="start" id="start" (change)="calculateAndDisplayRoute()">
      <option value="bhuwaneshwar, il">Bhuwaneshwar</option>
      <option value="bhusaval, mo">Bhusaval</option>
      <option value="chalisgaon, mo">Chalisgaon</option>
      <option value="dadar, ok">Dadar</option>
     
    </select><br>
    <b>End: </b>
    <select [(ngModel)]="end" id="end" (change)="calculateAndDisplayRoute()">
      <option value="jalgaon, il">Jalgaon/option>
      <option value="chalisgaon, mo">Chalisgaon</option>
      <option value="nasik road, mo">Nasik Road</option>
      <option value="igatpuri, ok">Igatpuri</option>
      <option value="kalyan jn, tx">Kalyan jn</option>
      <option value="thane, nm">Thane</option>
      <option value="brahmapur, az">Brahmapur</option>
      <option value="Vishakapatnam, az">Vishakapatnam</option>
      <option value="Vijaywada, az">Vijaywada</option>
      <option value="Renigunta, ca">Renigunta</option>
      <option value="Jolarpettai, ca">Jolarpettai</option>
      <option value="Bangalore, ca">Bangalore</option>
    </select>
    </div>
    <div #map id="map"></div>
</ion-content>-->