page-home {

    .background
    {
        background-image:url('../assets/b.jpg');
    }
	.header{
		padding-top: 20px;
		font-size: 1.2em;
		color:black;
 
	}
        .row-header{
        font-weight: bold;
    }

.red{
        color: #f53d3d;
    }
     table {
align-content: center;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #000000;
    text-align: center;
    padding: 15px;
}

tr:nth-child(odd) { 
    background-color:lightcyan;
height:2px;
}
p{
font-family:arial;
font-weight: bold;
color:blue;
padding:10px;
}
  ion-row{
    }

    ion-col{
        border-bottom: 0.1rem solid #e1e1e1;
        text-align: left;
    }


}